*.mp4
data/
*.log
__pycache__/
*.egg-info/
*.out
*.pyc
*pycache*
*.png
logs/
plots/
outputs/
ds-*.yaml
checkpoints/
*read_results.ipynb*
samurai/
*samurai*
PAIR-R24M*/
vggt/
outputs-beast/
dlc_projects/